* {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
    --background-color: transparent;
    --text-color: black;
    --elements-color: white;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    visibility: hidden;
}

body.active-dark-mode {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
}

a {
    text-decoration: none;
    color: unset;
}

.header {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 1.5rem;
    position: sticky;
    top: 0;
    background-color: var(--elements-color);
    z-index: 999;
}

.header nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav>* {
    cursor: pointer;
}

nav .title {
    font-weight: 800;
}

.dark-mode i {
    transform: rotate(-23deg);
}

main {
    margin-top: 40px;
    padding-inline: 1.5rem;
}

main>* {
    max-width: 1200px;
    margin: 0 auto;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.search-filter-container>* {
    border-radius: 4px;
}

.search-filter {
    padding-inline: 1.5rem;
    max-width: 400px;
    flex-grow: 1;
    cursor: text;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
}

.search-filter input {
    border: none;
    outline: none;
    font-family: inherit;
    padding: 16px 2px;
    margin-left: 16px;
    width: 100%;
}

.search-filter input::placeholder {
    color: #999;
}

.region-filter-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.filter-by-region {
    border: none;
    padding: 16px;
    width: 200px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
}


.clear-filter {
    display: none;
    padding: 16px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.clear-filter.active {
    display: inline-block;
}


.countries-container {
    margin-top: 2.5rem;
    display: flex;
    gap: 64px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.country-card {
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.country-card>* {
    flex-basis: 100%;
}

.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.img-container {
    padding: 0.5rem;
}

.country-card img {
    border-radius: 8px;
    width: 100%;
}

.country-card .card-text {
    padding: 0 1rem 1.5rem;
}

.card-text .country-name {
    font-size: 1.5rem;
    margin-block: 1rem;
}

.card-text>p {
    margin-block: 0.5rem;
}

@media (max-width: 768px) {
    .header .title {
        font-size: 16px;
    }

    .dark-mode {
        font-size: 12px;
    }


    .search-filter-container {
        flex-direction: column;
    }

    .filter-by-region {
        padding: 16px 24px;
    }

    .countries-container {
        justify-content: center;
    }
}

.search-filter,
.search-filter input,
.filter-by-region,
.clear-filter,
.country-card,
.back-btn,
.border-countries-name a {
    background-color: var(--elements-color);
    color: inherit;
}

/* -------------country.js-------------- */

.main section {
    margin: 0 auto;
    max-width: 1200px;
}

.back-button {
    padding: 0.375rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.country-details {
    display: flex;
    gap: 64px;
    margin-block: 64px;
}

.country-details img {
    align-self: center;
    width: 40%;
}

.country-details .country-title {
    margin-top: unset;
}

.country-details .more-details {
    display: flex;
    gap: 32px;
}

.more-details p {
    margin-block: 10px;
}

.border-countries {
    margin-top: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.border-countries-name {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.border-countries-name>a {
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 4px 16px;
}

@media (max-width: 840px) {
    .country-details {
        flex-direction: column;
        max-width: 500px;
        margin-inline: auto;
    }

    .country-details img {
        width: 100%;
        align-self: unset;
    }

    .country-details .country-title {
        margin-bottom: 16px;
    }
}

@media (max-width: 600px) {
    .country-details .more-details {
        flex-direction: column;
        gap: 14px;
    }
}